name: Deploy App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    # สร้าง secret.yaml จาก GitHub Secrets
    - name: Generate secret.yaml
      run: |
        cat <<EOF > secret.yaml
        apiVersion: v1
        kind: Secret
        metadata:
          name: my-db-secret
        type: Opaque
        stringData:
          db.txt: |
            username=${{ secrets.SNB_DB_USER }}
            password=${{ secrets.SNB_DB_PWD }}
        EOF

    # ตั้งค่า kubeconfig (เก็บไว้ใน GitHub Secret ชื่อ KUBECONFIG)
    - name: Set kubeconfig
      run: |
        mkdir -p $HOME/.kube
        echo "${{ secrets.KUBECONFIG }}" > $HOME/.kube/config

    # Apply Secret เข้า cluster
    - name: Apply Secret
      run: |
        kubectl apply -f secret.yaml

    # Deploy app
    - name: Deploy App
      run: |
        kubectl apply -f deployment.yaml

